<div>
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="edit_user_containers">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <div class="input">
        <%= f.label :avatar %><br />
        <%= image_tag(current_user.avatar.url(:thumb)) %>
      </div>
      <%= f.file_field :avatar %>
    </div>

    <div class="input">
    <div class="field">
      <br /><%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    </div>
    
    <div class="input">
    <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name, autofocus: true %>
    </div>
    </div>

    <div class="input">
    <% if current_user.role_id == 3 %>
    <div class="field">
      <b>Batch:</b>
      <% batch = Batch.all.map { |b| [b.name.to_s, b.id.to_i] } %>
      <%= f.select(:batch_id, options_for_select(batch, selected: resource.batch_id)) %>
      <b>Semester:</b>
      <% semester = Semester.all.map { |b| [b.name.to_s, b.id.to_i] } %>
      <%= f.select(:semester_id, options_for_select(semester, selected: resource.semester_id)) %>
      <b>Branch:</b>
      <% branch = Branch.all.map { |b| [b.name.to_s, b.id.to_i] } %>
      <%= f.select(:branch_id, options_for_select(branch, selected: resource.branch_id)) %>
    </div>
  <% end %>
    </div>

    <div class="input">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :disabled => true %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    </div>
    
    <div class="input">
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    </div>
    
    <div class="input">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    </div>
    
    <div class="input">
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    </div>
    
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <br />
  <br />
      <h3>Unhappy?</h3>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  <br />
  <br />
  <br />
  <br />
  </div>
</div>