<html>
<head><title>Add Professor</title>
</head>

<div class="header"></div>

<div class="tabs"></div>

<div align="center">
<%= form_for @schedule do |s| %>
Enter the following details :
<br />
<br/ >

Branch : 
<% branch_array = Branch.all.map { |b| [b.name, b.id] } %>
<%= select_tag(:branch_id , options_for_select(branch_array)) %>
<br />
<br />

Semester : 
<% semester_array = Semester.all.map { |b| [b.name, b.id] } %>
<%= select_tag(:semester_id , options_for_select(semester_array)) %>
<br />
<br />

Subject : 
<% subject_array = Subject.all.map { |b| [b.name, b.id] } %>
<%= select_tag(:subject_id , options_for_select(subject_array)) %>
<br />
<br />

Room : 
<% room_array = Room.all.map { |b| [b.name, b.id] } %>
<%= select_tag(:room_id , options_for_select(room_array)) %>

<%= s.submit %>
<% end %>
</div>
</html>