<html>

<div class="header"></div>

<div class="tabs">
	

</div>

<div align="center">

<h1> Admin Home Page</h1>

 <%= button_to 'admin_subjects', admin_subjects_path , method: :get %><br>
 <%= button_to 'admin_professors', admin_professors_path , method: :get %><br>
 <%= button_to 'admin_schedules', admin_addSchedules_path , method: :get %><br>
 <%= button_to 'admin_class', admin_units_path , method: :get %><br>
 <%= button_to 'admin_branches', admin_branches_path , method: :get %><br>
 <%= button_to 'admin_semesters', admin_semesters_path , method: :get %><br>


</div>

</html>