<html>	
	<body>
		<div align="center">
			<table cellpadding="70px" width="100%" >
				<tr>
					<td><%= link_to 'Subjects', admin_subjects_path , method: :get , id: "admin_a" %><br></td>
			 		<td><%= link_to 'Users', admin_users_path , method: :get , id: "admin_a" %><br></td>
			 	</tr>
			 	<tr>
			 		<td>
			 			<%= link_to 'Schedules', new_schedule_path , method: :get , id: "admin_a" %><br>
			 		</td>
			 	</tr>
			 	<tr>
			 		<td><%= link_to 'Branches', admin_branches_path , method: :get , id: "admin_a" %><br></td>
					<td><%= link_to 'Semesters', admin_semesters_path , method: :get , id: "admin_a"%><br>
					</td>
				</tr>
			</table>
	 	</div>
	</body>
</html>