<html>
  <head>
      <title>s</title>
  </head>
  <body>
    <div id="dialog" title="Enter Event Details">
      <%= form_for(schedule, :remote => true, :format => :json) do |s| %>
        <p>
          Start Time : <span id="startTime"></span>
        </p>
        <p>
          End Time : <span id="endTime"></span>
        </p>
        <p>
          Professor : <%= user.name %> <span id="user_id"><%= user.id %></span>
        </p>
        <table width="70%">
          <tr>
            <td>
              <p>Branch : </p>
              <% branch_array = branch.map { |b| [b.name, b.id] } %>
            </td>
            <td width="60%">
              <%= s.select(:branch_id, options_for_select(branch_array),{include_blank: true},{:class => 'form-control'}) %> 
            </td>
          </tr>
          <tr>
            <td>
              <p>Semester : </p>
              <% semester_array = semester.map { |b| [b.name, b.id] } %>
            </td>
            <td width="60%">
              <%= s.select(:semester_id, options_for_select(semester_array), { include_blank: true } ,{:class => 'form-control'} ) %>
            </td>
          </tr>
          <tr>
            <td>
              <p>Subject : </p>
              <% subject_array = subjects.map{ |b| [b.name.to_s, b.id.to_i] } %>
            </td>
            <td width="60%">
              <%= s.select(:subject_id, options_for_select(subject_array),{ include_blank: true},{:class => 'form-control'}) %>
            </td>
          </tr>
          <tr>
            <td>
              <p>Room No. : </p>
              <% room_array = room.map { |b| [b.name, b.id] } %>
            </td>
            <td width="60%">
              <%= s.select(:room_id , options_for_select(room_array), { include_blank: true },{:class => 'form-control'}) %>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td width="40%"><p>Repeat for Batches: </p></td>
            <% batch.each do |batch| %>
              <td><%= check_box_tag 'batch_ids[]', batch.id, :id => "batch_checkbox" %></td>
              <td><%= batch.name %></td>
              <td width="5%"></td>
            <% end %>   
          </tr>
        </table>
        <table>
          <tr>
            <td width="40%"><p>Repeat : </p></td>
            <td><%= radio_button_tag 'period', 0 %></td><td>Today</td><td width="5%"></td>
            <td><%= radio_button_tag 'period', 1 %></td><td>Daily</td><td width="5%"></td>
            <td><%= radio_button_tag 'period', 2 %></td><td>Weekly</td><td width="5%"></td>
            <td><%= radio_button_tag 'period', 3 %></td><td>Monthly</td><td width="5%"></td>
          </tr>
        </table>
        <table>
          <tr>
            <td><p>Start Date : </p></td>
            <td><%= s.date_select(:start_date) %></td>
          </tr>
          <tr>
            <td><p>End Date : </p></td>
            <td><%= s.date_select(:end_date) %></td>
          </tr>
        </table>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
              <input type="button" id="schedule_create" value="Create"> 
              <input type="button" id="schedule_update" value="Update"> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br />
    <div>
      <%= button_to 'Notify Users', update_schedule_schedules_path, method: :get, :id => 'schedule_change' %>
    </div>
  </body>
</html>