<html>
	<body>
		<div class="user_container">
			<br />
			<table width="75%">
				<tr>
					<%= form_tag import_users_path, multipart: true do %>
						<td style="text-align:right;"><b>Choose a file to import users.. :  </b></td>
						<td style="text-align:center;"><%= file_field_tag :file %></td>
						<td style="text-align:left;" ><%= submit_tag "Import!", :id => 'button_new' %></td>
					<% end %>
				</tr>
			</table>
      <br />
			<div style="text-align:center">
				<% if session[:errors] %>
					<h2>
				    <%= pluralize(session[:errors].length, "error")%>
				    prohibited this file from being uploaded:  
				  </h2>
					<p>There were problems with the following rows :</p>
	        <p>
	          <ul>
	            <% session[:errors].each do |row| %>
	              <li><b>Row <%= row[0] %></b> has the following problem: <b><%= row[1] %></b></li>
	            <% end %>
	          </ul> 
	        </p>
	        <% session[:errors] = nil %>
	      <% end %>
	    </div>
		</div>
	</body>
</html>