<html>
	<body>
	<br />
	<br />
	<br />
		<div align="left" style="width:500px; height:200px" class="user_form">
			<div align="left">
				<%= button_to 'Add a New User', new_user_path, method: :get %>
			</div>
			<div align="left">
				<%= form_tag id_for_edit_users_path, method: :post do %>
					Enter User ID : <%= text_field_tag 'user_id' %>
					<%= submit_tag 'Edit User' %>
				<% end %>
			</div>
			<div align="bottom">
			Choose a file to import users.. :
			<%= form_tag import_users_path, multipart: true do %>
				<%= file_field_tag :file %>
			  	<%= submit_tag "Import!" %>
			<% end %>
			</div>
		</div>
	</body>
</html>