<html>
<head><title>Schedule</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body>

<%= form_tag do %>  
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                Branch    
            </div>
            <div class="col-md-4">
                Semester      
            </div>
            <div class="col-md-4">
                Batch     
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <% branch_array = Branch.all.map { |b| [b.name, b.id] } %>
                <span id="branch"></span>
                <%= select_tag(:branch_id, options_for_select(branch_array),{include_blank: true}) %> 
            </div>      
             
            <div class="col-md-4">
                <% semester_array = Semester.all.map { |b| [b.name, b.id] } %>
                <span id="semester"></span>
                <%= select_tag(:semester_id, options_for_select(semester_array), { include_blank: true }  ) %>
            </div>
            <div class="col-md-4">
                <% batch_array = Batch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:batch_id, options_for_select(batch_array),{include_blank: true}) %> 
            </div>
        </div>

        <div class="col-md-3">
            <input type="button" id="apply" value="Apply">
        </div>
    </div>
<% end %>
    <div id="dialog" title="Enter Event Details">
        <%= form_for(@schedule, :remote => true, :format => :json) do |schedule| %>
            <p>
                Start Time : <span id="startTime"></span>
            </p>
            <p>
                End Time : <span id="endTime"></span>
            </p>
           <table width="70%">
           <tr>
                <td>
                    <p>Professor : </p>
                    <% professor_array = @professor.map { |b| [b.name, b.id] } %>
                </td>
                <td width="60%">
                    <%= schedule.select(:user_id , options_for_select(professor_array),{include_blank: true})%>
                </td>
            </tr>
           
            <tr>
                <td>
                    <p>Subject : </p>
                    <% subject_array = @subjects.map{ |b| [b.name.to_s, b.id.to_i] } %>
                </td>
                <td width="60%">
                    <% #schedule.select(:subject_id, options_for_select(subject_array.inspect)) %>
                    <%= @subjects.inspect %>
                    <%= schedule.select(:subject_id, options_for_select(subject_array),{ include_blank: true}) %>
                </td>
            </tr>
            <tr>
            <p>
                <td><p>Room No. : </p><% room_array = @room.map { |b| [b.name, b.id] } %></td>
                <td width="60%"><%= schedule.select(:room_id , options_for_select(room_array), { include_blank: true }) %></td>
            </tr>
            </table>

            <table>
            <tr>
            <td width="40%"><p>Repeat for Batches: </p></td>
                <% Batch.all.each do |batch| %>
                    <td><%= check_box_tag 'batch_ids[]', batch.id, :id => "batch_checkbox" %></td>
                    <td><%= batch.name %></td>
                    <td width="5%"></td>
                <% end %>   
            </tr>
            </table>

            <form action="GET">
                <table>
                    <tr>
                        <td width="40%"><p>Repeat : </p></td>
                        <td ><input type="checkbox" name="repeat" value="1"></td><td>Weekly</td><td width="5%"></td>
                        <td><input type="checkbox" name="repeat" value="2"></td><td>Monthly</td><td width="5%"></td>
                    </tr>
                </table>
            </form>

             <form action="GET">
                <table>
                    <tr>
                        <td width="20%"><p>Repeat for : </p></td>
                        <td><input type="checkbox" name="date" value="1"></td><td width="15%" style="text-align:left">1 Week</td>
                        <td><input type="checkbox" name="date" value="2"></td><td width="15%" style="text-align:left">1 Month</td>
                        <td><input id="date_range_check" type="checkbox" name="date" value="3"></td><td style="text-align:left">Other:<input id="date_range" type="text" name="date"></td>
                    </tr>
                </table>
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input type="button" id="schedule_create" value="Create"> 
                    </div>
                    <div class="col-md-4">
                        <input type="button" id="schedule_update" value="Update"> 
                    </div>
                    <div class="col-md-4">
                        <input type="button" id="delete_event" value="Delete">
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</body>
</html>