<html>
<head><title>Schedule</title>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
     editable: true,
     header: 
     {
	     left: "prev,next today ",
	     center: "title",
	     right: "month, agendaWeek, agendaDay",
		 defaultView: "month",
	     height: 500,
		 slotMinutes: 15,
	     events: "/dashboard/get_events",
	     timeFormat: "h:mm t{ - h:mm t} ",
	     dragOpacity: "0.5"
	 }
    });
});

</script>


</head>

<%= form_for @schedule do |schedule| %>

<br />
<br/ >
<table width="120%">
<tr>
<td>
<div class="left" align="right">
Branch : 
<% branch_array = Branch.all.map { |b| [b.name, b.id] } %>
<%= schedule.select(:branch_id , options_for_select(branch_array), { include_blank: true }) %>
<br />
<br />

Semester : 
<% semester_array = Semester.all.map { |b| [b.name, b.id] } %>
<%= schedule.select(:semester_id , options_for_select(semester_array), { include_blank: true}) %>
<br />
<br />


Start Time:
<%= schedule.time_select(:starttime, {minute_step: 5 , :ampm => true }) %>
<br />
<br />

End Time:
<%= schedule.time_select(:endtime, {minute_step: 5 ,:ampm => true }) %>
<br />
<br />

</div>
</td>
<td>
<div id="calendar" style="width:60% ; height: 60%;" align="left"></div>
</td>
</tr>

<tr><td></td><td><%= schedule.submit %></td></tr>
</table>
<% end %>
</div>
</html>