<html>
  <body>
    <div class="schedule">
      <table width="80%">
        <%= form_tag schedules_initialize_subjects_path, method: 'post' do %>
        <tr>
          <td>Branch:</td>
          <td>
            <% branch_array = branch.map { |b| [b.name, b.id] } %>
            <%= select_tag(:branch_id, options_for_select(branch_array, selected: branch_id_frmc),{ include_blank: true }) %>
          </td>
          <td>Semester:</td>
          <td>
            <% semester_array = semester.map { |b| [b.name, b.id] } %>
            <%= select_tag(:semester_id, options_for_select(semester_array, selected: semester_id_frmc), { include_blank: true }) %>
          </td>
          <td>Batch:</td>
          <td>
            <% batch_array = batch.map { |b| [b.name, b.id] } %>
            <%= select_tag(:batch_id, options_for_select(batch_array, selected: batch_id_frmc), { include_blank: true }) %>
          </td>
          <td><%= submit_tag "Apply" , :id => 'apply' %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>