<%= form_for(@professor) do |f| %>
<div align="center">
<table>
<tr><td>  Name   : </td><td><%= f.text_field :name %>
  </td><td>
  <span style="color:red"><% if @professor.errors[:name] %>
    <% a= @professor.errors.full_messages_for(:name) %>
    <%= a.join(", ") %>
  <% end %>
  </span>
  </td></tr>

  <br />
  <tr><td>
  Age    : </td><td><%= f.text_field :age %>
  </td><td><span style="color:red"><% if @professor.errors[:age] %>
    <% a= @professor.errors.full_messages_for(:age) %>
    <%= a.join(", ") %>
  <% end %>
  </span></td>
  </tr>
  <br />
  <tr><td>
  Gender : </td><td><%= f.text_field :gender %></td>
  <td><span style="color:red"><% if @professor.errors[:gender] %>
    <% a= @professor.errors.full_messages_for(:gender) %>
    <%= a.join(", ") %>
  <% end %>
  </span></td>
  </tr>
  </table>
  <br />
  <%= f.submit  %>
<% end %>
</div>
