<!DOCTYPE html>
<html>
<head>
  <title>List of Professors</title>
  <style>
  a { text-decoration: none;
      font-size:16px;
      color: PaleVioletRed; }
  </style>
</head>
<body>
<div style="background-color:midnightBlue ">
<br />
<h1 style="font-size:40px; text-align:center;color:white;">Admin Portal</h1>
<br />
</div>
<hr>
<div align="center">
<br />
<br />
<table width="50%" style="font-size:20px;" cellspacing="20">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<br />
<br />
<% @professors.each do |professor| %>
  <tr style="font-size:20px; text-align:center; color:PaleVioletRed">
    <td style="font-size:16px"><%= professor.id %></td>
    <td style="font-size:16px"><%= professor.name %></td>
    <td style="font-size:16px"><%= professor.age %></td>
    <td style="font-size:16px"><%= professor.gender %></td>
    <td><%= link_to 'Show', professor %></td>
    <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
    <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br /><br />
<div align="center">
<%= link_to 'New Professor', new_professor_path %>
</div>
</div>
</body>
</html>
