<!DOCTYPE html>
<html>
<head>
  <title>List of Professors</title>
</head>
<div class="header" style="color:navy; font-size:40px;text-align:center"></div>
<div class="tabs" align="right"><%= button_to 'logout->' , signin_path , method: :get %></div>
<div class="name">
<h1 style="font-size:30px; text-align:center;color:white;"></h1>
</div>
<div align="center">
<br />
<br />
<table width="50%" style="font-size:20px;" cellspacing="20">
  <tr style="font-size:20px; text-align:center; color:LightCoral ">
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th></th>
    <th></th>
  </tr>
<br />
<br />
<% @professors.each do |professor| %>
  <tr style="font-size:20px; text-align:center; color:PaleVioletRed">
    <td style="font-size:16px"><%= professor.id %></td>
    <td style="font-size:16px"><%= professor.name %></td>
    <td style="font-size:16px"><%= professor.age %></td>
    <td style="font-size:16px"><%= professor.gender %></td>
    <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
    <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br /><br />
<div align="center">
<%= button_to 'New Professor', new_professor_path , method: :get %>
</div>
</div>
<div class="footer" align="center"></div>
</html>
