<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>! There is a change in your schedule.</h1>
    <p><b>"<%= @create_schedule.name %>"</b> by <b>"<%= @create_schedule.user_name %>"</b> will be held at <b>"<%= @create_schedule.starttime %>" to "<%= @create_schedule.endtime %>"</b> <b><%= @day %></b> in class <b>"<%= @create_schedule.room_name %>"</b> for batch <b>"<%= @create_schedule.batch_name %>"</b> starting from <b><%= @create_schedule.start_date %></b> to <b><%= @create_schedule.end_date %></b>.<br>
    </p>

    <p>Have a great day with DayMan!</p>
  </body>
</html>

