<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>! There is change in your schedule.</h1>
    <p><b>"<%= @delete_schedule_array.name %>"</b> by <b>"<%= @delete_schedule_array.user_name %>"</b> from <b>"<%= @delete_schedule_array.starttime %>" to "<%= @delete_schedule_array.endtime %>"</b> in class <b>"<%= @delete_schedule_array.room_name %>"</b> for batch <b>"<%= @delete_schedule_array.batch_name %>" has been CANCELLED</b>.<br>
    </p>

    <p>Have a great day with DayMan!</p>
  </body>
</html>

