 <html>
 <head>
    <title>subject</title>
  </script>  
  </head>

  <body>
  <div >

  <%= form_for @subject do |subject| %>
  <b>Name : </b><%= subject.text_field :name %>
 <span style="color:red">
  <% if @subject.errors[:name] %>
    <% a= @subject.errors.full_messages_for(:name) %>
    <%= a.join(", ") %>
  <% end %>
  </span>

  <b>Branch :</b>
  <table>
    <tbody>
    <div class="branch">
      <% Branch.all.each do |branch| %>
       <tr>
       <td>
         <%= check_box_tag "branch_ids[]", branch.id,  @subject.branches.detect{|item| item.id == branch.id} %>
       </td>
       <td>
         <label><%= branch.name %></label>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <span style="color:red">
  <% if @subject.errors[:branch_ids] %>
    <% a = @subject.errors.full_messages_for(:branch_ids) %>
    <%= a.join(", ") %>
  <% end %>
  </span>
  <br />
  <br />
  </div>

  <b>Semester :</b>
  <table>
    <tbody>
      <% Semester.all.each do |semester| %>
      <tr>
        <td>
          <%= check_box_tag "semester_ids[]", semester.id , @subject.semesters.detect{|item| item.id == semester.id } %>
        </td>
        <td> 
          <label><%= semester.name %></label>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <span style="color:red">
  <% if @subject.errors[:semester_ids] %>
    <% a=@subject.errors.full_messages_for(:semester_ids) %>
    <%= a.join(", ") %>
  <% end %>
  </span>
  <br />
  <br />

  <%= subject.submit %>
  <% end %>

  </div>
  </body>
</html>