 <html>
 <head>
    <title>subject</title>

    <script>
    $(document).ready(function() 
    {
      $('#submit').click(function()
      {
        //var t = checkboxBatch();
      });

      var checkboxBatch = function()
      { 
        var atLeastOneBranchIsChecked = $('#branch_ids_ input:checked').length > 0;
        if(!atLeastOneBranchIsChecked){ alert("Select a Branch!"); return false; }   

        var atLeastOneSemesterIsChecked = $('#semester_ids_ input:checked').length > 0;
        if(!atLeastOneSemesterIsChecked){ alert("Select a Semester!"); return false;} 
      }

    });
    </script>  

  </head>

  <div >
  <%= form_for @subject, :html => { :id => 'form' } do |subject| %>
  <table>
  <tr><td><b>Name : </b></td><td width="50%"><%= subject.text_field :name %></td>
  </tr></table>
  <span style="color:red">
  <% if @subject.errors[:name] %>
    <% a= @subject.errors.full_messages_for(:name) %>
    <%= a.join(", ") %>
  <% end %>
  </span>

  <br />
  <br />
  <b>Branch :</b>
  <table>
    <tbody>
      <% Branch.all.each do |branch| %>
       <tr>
       <td>
          <% brArr = [] %>
          <% if @t == false %>
          <% @bss.each do |branchArray| %>
                <% if branchArray.branch_id == branch.id %>
                    <% brArr.push(branch.id) %>
                <%end%>
          <%end%>
          <% end %>
        <%= check_box_tag "branch_ids[]" , branch.id , brArr.include?(branch.id) %> 
        </td>
        <td>
        <label><%= branch.name %></label>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </span>
  <br />
  <br />
  <b>Semester :</b>
  <table>
    <tbody>
      <% Semester.all.each do |semester| %>
        <tr>
        <td>
          <% semArr = [] %>
          <% if @t == false %>
          <% @bss.each do |branchArray| %>
                <% if branchArray.semester_id == semester.id %>
                    <% semArr.push(semester.id) %>
                <%end%>
          <%end%>
          <% end %>
          <%= check_box_tag "semester_ids[]", semester.id, semArr.include?(semester.id) %>
        </td>
        <td> 
            <label><%= semester.name %></label>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />
  <br />
  <div align="left"><span id="submit"><%= subject.submit %></span></divleft  <% end %>
  </div>

</html>