<html>
<head>
  <% if user_signed_in? %>
  <% else %>
    <%= javascript_include_tag "log_in.js" %>
    <%= stylesheet_link_tag "log_in.css.scss" %>
  <% end %>
</head>
<body>
  <div style="width:40%; height:40%;" id="fields">
    <fieldset>
      <legend class="legend">Login</legend>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>

        <div class="input">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>

        <table width="100%">
          <tr>
          <td></td>
            <td style="text-align:left;">
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
            </td>
            <td></td>
          </tr>
          <tr>
          <td width="5%"></td>
            <td style="text-align:left;">
              <div class="input">
                <%= render "devise/shared/links" %>
              </div>
            </td>
            <td width="60%" style="text-align:right;">
                <div class="input">
                  <div class="actions">
                    <%= f.submit "Log in" , :id => "log_in" %>
                  </div>
                </div>
            </td>
          </tr>
        </table>
      <% end %>
    </fieldset>
  </div>
</body>
</html>