<html>
<head><title>Class</title>
</head>
<div class="header"></div>
<div class="tabs" align="right"><%= button_to 'Back', admin_path , method: :get %></div>
<div align="center">
<br />
<br />
<span style="font-size:25px">Units</span>
<br />
<br />
<%= button_to 'Create New' , new_unit_path , method: :get %>
<div align="center">
<table width="50%" style="font-size:20px;" cellspacing="20">
  <tr style="font-size:20px; text-align:center; color:LightCoral ">
    <th>ID</th>
	<th>ClassUnit</th>
	<th>Subject</th>
	<th>Professor</th>
	<th>Batch</th>
	<th></th>
	<th></th>
</tr>
<% @units.each do |unit| %>
  <tr style="font-size:20px; text-align:center; color:PaleVioletRed">
	<td style="font-size:16px"><%= unit.id %></td>
    <td style="font-size:16px"><%= unit.name %></td>
    <td style="font-size:16px"><%= unit.subject.name %></td>
    <td style="font-size:16px"><%= unit.professor.name %></td>
    <td style="font-size:16px"><%= unit.batch.name %></td>
    <td><%= button_to 'Edit', edit_unit_path(unit) , method: :get %></td>
    <td><%= button_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
</div>
</html>