<div class="admin_fixed_options">
	<div class="fixed_options">
	  <table width="100%" >
	    <tr></tr><br />
	    <tr><%= link_to 'Branches', new_branch_path , method: :get , id: "admin_a" %><br></tr>
	    <tr><%= link_to 'Schedules', new_schedule_path , method: :get , id: "admin_a" %><br></tr>
	    <tr><%= link_to 'Semesters', new_semester_path , method: :get , id: "admin_a"%><br></tr>
	    <tr><%= link_to 'Subjects', admin_subjects_path , method: :get , id: "admin_a" %><br></tr>
	    <tr><%= link_to 'Users', admin_users_path , method: :get , id: "admin_a" %><br></tr>
	  </table>
	</div>
</div>