<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    
      <div id="logo"><%= link_to "Day Manager",root_url, id: "logo" %></div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <div id="links">
        <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to 'Home', root_url %></li>
              <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
              <li><%= link_to "Back", :back %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
        </ul>
        </div>
      </div>
    
  </div>
</header>
