<!DOCTYPE html>
<html>
<head>
  <title>DayManager</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= render 'layouts/shim' %> 
</head>
<body>
<p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>

    <br />
    <br />
    <br />
    <div align="center">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="container" id="fields">
      <%= yield %>
    </div>

</body>
</html>