<!DOCTYPE html>
<html>
  <head>
    <title>DayManager</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>

    <div align="center" class="alert_msgs">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.role_id == 1 %>
        <%= render 'layouts/admin_options' %>
      <% end %>
    <% end %>
    <div class="container" id="container">
      <%= yield %>
    </div>
  </body>
</html>